body {
    font-size: 14px;
    font-family: Sans-Serif;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/*SlideMenu-Aside*/

.slideMenu-aside {
    background-color: #1D1E19;
    color: white;
    height: 100%;
    padding: 20px;
    width: 250px;
    left: 0px;
    top: 0px;
    position: fixed;
    display: block;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -ms-transform: translate(-250px);
    /* Internet Explorer */
    
    -moz-transform: translate(-250px);
    /* Firefox */
    
    -webkit-transform: translate(-250px);
    /* Safari 和 Chrome */
    
    -o-transform: translate(-250px);
    /* Opera */
    
    transform: translate(-250px);
}
.open-menu aside {
    -ms-transform: translate(0px);
    /* Internet Explorer */
    
    -moz-transform: translate(0px);
    /* Firefox */
    
    -webkit-transform: translate(0px);
    /* Safari 和 Chrome */
    
    -o-transform: translate(0px);
    /* Opera */
    
    transform: translate(0px);
}
.user-profile .username {
    margin: auto;
    margin-top: -2.6em;
    margin-left: 4.8em;
    color: #658585;
    font-size: 1.5em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}
.user-profile .bio {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #e76043;
    font-size: .87em;
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
.user-profile > .description {
    margin: auto;
    margin-top: 1.35em;
    margin-right: 4.43em;
    width: 14em;
    color: #c0c5c5;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}
.user-profile ul.data {
    margin: 2em auto;
    height: 3.70em;
    background: #4eb6b6;
    text-align: center;
    border-radius: 0 0 .3em .3em;
}
.user-profile li {
    margin: 0 auto;
    padding: 1.30em;
    width: 33.33334%;
    display: table-cell;
    text-align: center;
}
.user-profile span {
    font-family: "varela round", sans-serif;
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
}
.user-profile span:hover {
    color: #daebea;
}
/*End of SlideMenu-Aside*/
/*Main*/

main {
    width: 100%;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
}
.open-menu main {
    -ms-transform: translate(250px);
    /* Internet Explorer */
    
    -moz-transform: translate(250px);
    /* Firefox */
    
    -webkit-transform: translate(250px);
    /* Safari 和 Chrome */
    
    -o-transform: translate(250px);
    /* Opera */
    
    transform: translate(250px);
}
.blurImg {
    position: relative;
    width: 100%;
    height: 450px;
    z-index: -1;
    top: 0;
    left: 0;
}
.blurImg > div {
    position: fixed;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-position: center center;
}
.blur {
    opacity: 0;
    filter: alpha(opacity=0);
}
header {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px 20px;
    left: 0;
    right: 0;
}
.index-header-content {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 150px;
    height: 380px;
    text-align: center;
    color: White;
}
.index-header-content-navi {
    font-size: 0.8em;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.85);
    line-height: 30px;
    padding: 7px 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.index-header-content-navi:hover {
    background: #fff;
    color: Gray;
}
.index-header-p {
    font-size: 1.5em;
    margin-bottom: 0.7em;
    font-family: Times New Roman;
}
.index-header-h1 {
    font-weight: 800;
    font-size: 3.4em;
    margin-bottom: 0.2em;
}
.index-header-nav {
    max-width: 600px;
    margin: 0 auto;
    height: 60px;
    border-top: 1px rgba(255, 255, 255, 0.35) solid;
}
.index-header-nav-ul-li {
    display: inline-block;
    margin-right: 20px;
}
.index-header-nav-ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 60px;
}
.index-header-nav-ul-li-a {
    font-weight: 800;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    line-height: 60px;
    display: block;
}
.index-header-nav-ul-li-a.active {
    -webkit-box-shadow: 0px -1px 0px #fff;
    box-shadow: 0px -1px 0px #fff;
}
.index-header-nav-ul-li-a.active, .index-header-nav-ul-li-a:hover {
    color: #fff;
}
.container {
    height: 1300px;
    background: #fff;
    z-index: 1;
    padding: 0px 20px;
}
.container div {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 40px;
}
/*Toggle button*/

#toggle {
    width: 28px;
    height: 30px;
    margin-top: 30px;
    position: absolute;
    left: 20px;
    z-index: 2;
}
#toggle span:after, #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after {
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}
#toggle span, #toggle span:after, #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
/* on activation */

#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    /*-ms-transform: rotate(45deg) translate(275px, 5px);*/
    /* Internet Explorer */
    /*    -moz-transform: rotate(45deg) translate(275px, 5px);
     Firefox */
    /*-webkit-transform: rotate(45deg) translate(275px, 5px);*/
    /* Safari 和 Chrome */
    /*-o-transform: rotate(45deg) translate(275px, 5px);*/
    
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    /*-ms-transform: rotate(-45deg) translate(277px, -8px);*/
    /* Internet Explorer */
    /*-moz-transform: rotate(-45deg) translate(277px, -8px);*/
    /* Firefox */
    /*-webkit-transform: rotate(-45deg) translate(277px, -8px);*/
    /* Safari 和 Chrome */
    /*-o-transform: rotate(-45deg) translate(277px, -8px);*/
    
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on {
    opacity: 1;
}
/*End of Toggle button*/
/*End of Main*/
/*drop header*/
/*.home2 {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1.6s;
    position: fixed;
    background: none;
    float: left;
    z-index: 18;
    width: 100%;
    height: 500px;
    top:-450px;
}
.home2:hover {
    z-index: 20;
    background-color: #fff;
    top: 0px;
}
.aboutme {
    float: left;
    position: relative;
    padding-left: 80px;
    padding-top: 0px;
    margin: 10px;
    font-family: 'Droid sans';
    width: 300px;
    height: 400px;
    opacity: 1;
}
h5 {
    color: #000;
    font-family: 'roboto';
    letter-spacing: 6px;
    font-size: 45px;
}
.trait {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #000;
    width: 20px;
}
.croix {
    position: absolute;
    top: 90%;
    right: 70px;
    float: right;
    color: #fff;
    font-size: 55px;
    font-family: 'roboto', sans-serif;
}
.home {
    position: fixed;
    background: none;
    float: right;
    z-index: 19;
    width: 90%;
    height: 100px;
}*/
/*End of drop header*/
/*Footer*/

.index-footer {
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 0px 20px;
}
.footer .copy {
    float: right;
    font-style: italic;
    color: #888;
    padding: 1% 1% 0 0;
}
.footer {
    width: 80%;
    height: 50px;
    margin: 0px auto;
    border-top: 1px solid #ccc;
    /*max-width: 1452px;*/
}
/*End of Footer*/
/*Article Content*/

.block_title {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    height: 28px;
    letter-spacing: -0.439999997615814px;
    line-height: 28.6000003814697px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 160px;
    margin-top: 0px;
    visibility: visible;
    width: 540px;
}
.block_content {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    height: 130px;
    letter-spacing: -0.360000014305115px;
    line-height: 19.7999992370605px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    visibility: visible;
    width: 700px;
}
.block_content_brief {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    cursor: auto;
    display: block;
    font-family: jaf-bernino-sans, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    height: 50px;
    letter-spacing: -0.360000014305115px;
    line-height: 25.2000007629395px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    text-decoration: none;
    visibility: visible;
    width: 700px;
}
/*End of Article Content*/
